@using Microsoft.AspNetCore.Identity
@using ExpenseManager.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ApplicationUser currentUser = null;
    if (SignInManager.IsSignedIn(User))
    {
        var userId = UserManager.GetUserId(User);
        currentUser = await UserManager.FindByIdAsync(userId);
    }
}

<div class="d-flex align-items-center ms-auto">
    @if (currentUser != null)
    {
        <a class="me-2 text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @currentUser.FirstName!</a>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="m-0 p-0">
            <button type="submit" class="btn btn-link text-dark p-0 m-0">Logout</button>
        </form>
    }
    else
    {
        <a class="nav-link text-dark me-2" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    }
</div>
