@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<div class="d-flex justify-content-center mt-0 mb-5">

    <div class="card shadow-sm border-0 rounded-3" style="max-width: 400px; width: 100%;">
        <div class="card-body p-4">
            <h3 class="text-center mb-3">@ViewData["Title"]</h3>
            <partial name="_StatusMessage" for="StatusMessage" />

            <form id="email-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-2" role="alert"></div>

                @if (Model.IsEmailConfirmed)
                {
                    <div class="form-floating mb-3 input-group">
                        <input asp-for="Email" class="form-control form-control-sm" placeholder="Your email" disabled />
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success fw-bold">✓</span>
                        </div>
                        <label asp-for="Email"></label>
                    </div>
                }
                else
                {
                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control form-control-sm" placeholder="Your email" disabled />
                        <label asp-for="Email"></label>
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link p-0 mt-1">Send verification email</button>
                    </div>
                }

                <div class="form-floating mb-3">
                    <input asp-for="Input.NewEmail" class="form-control form-control-sm" autocomplete="email" aria-required="true" placeholder="New email" />
                    <label asp-for="Input.NewEmail"></label>
                    <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                </div>

                <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-primary rounded-2">
                    📧 Change Email
                </button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
